<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <%- include('partials/header.ejs') %>

    <h1>Posts</h1>

    <%- include('partials/footer.ejs') %>

      <%- include('partials/foot.ejs') %>
</body>

</html>