@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(240, 240, 240);
  font-family: 'Poppins', sans-serif;
}

.teste {
  display: flex;
}

.menu {
  width: 20%;
}

.container {
  width: 80%;
}

/*** HEADER ***/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  background-color: rgb(4, 110, 180);
  color: rgb(255, 255, 255);
  font-weight: 400;
}

header .title {
  margin-left: 20px;
  font-size: 1.5em;
}

header .name {
  margin-right: 20px;
}

/*** CONTEUDO ***/
.container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.container .content {
  width: 70%;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(200, 200, 200);
}

.container .content .dataAgenda {
  padding: 20px 0px 0px 25px;
}

.container .content .dataAgenda h2 {
  color: rgb(96, 96, 96);
  font-weight: 300;
}

.container .content .title {
  position: relative;
  display: flex;
  margin: 20px;
  align-items: center;
  color: rgb(154, 154, 154);
  border-bottom: 1px solid silver;
}

.container .content .title button {
  position: absolute;
  right: 5px;
  margin-right: 10px;
  color: rgb(154, 154, 154);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: none;
}

.container .content .title input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 1em;
}

.container .content .patientCard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  width: 98%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 4px rgb(163, 163, 163);
  font-size: 0.9em;
}

.container .content .patientCard span {
  padding: 3px;
}

.container .content .patientCard.preference {
  color: darkblue;
}

.container .content .patientCard .time {
  width: 60px;
}

.container .content .patientCard .name {
  width: 350px;
  }

.container .content .patientCard .status {
  width: 150px;
  }

.container .content .patientCard .insurance {
  width: 250px;
  }

.container .content .patientCard .type {
  width: 410px;
}

.container .content .patientCard .prioritary {
  width: 150px;
}

.container .content .patientCard button {
  position: absolute;
  right: 4px;
  bottom: 4px;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 255, 255);
}

.container .tools {
  width: 25%;
}

.container .tools .calendar {
  height: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(200, 200, 200);
  margin-bottom: 20px;
  padding: 15px;
}

.container .tools .doctor {
  position: relative;
  height: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(200, 200, 200);
  padding: 15px;
}

.container .tools .doctor h2 {
  font-size: 1.2em;
  font-weight: 400;
}

.container .tools .doctor h2::after {
  content: "";
  display: block;
  height: 1px;
  border-bottom: 1px solid gray;
}

.container .tools .doctor .btnFilterOff,
.container .tools .doctor .btnFilter {
  position: absolute;
  top: 10px;
  cursor: pointer;
  color: rgb(154, 154, 154);
  background-color: rgb(255, 255, 255);
  border: none;
}

.container .tools .doctor .btnFilterOff {
  right: 15px;
}

.container .tools .doctor .btnFilter {
  right: 55px;
}
