<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <header>
    <%- include('partials/header') %>
  </header>

  <div class="container mt-4">
    <h2>Lista de categorias</h2>
    <hr>
    <a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/foot') %>
</body>

</html>